<ion-view view-title="Category Detail">
  <ion-content class="padding">
    <div class="list card">
      <div class="item-avatar">
        <img ng-src="{{category.image}}">
        <b>{{category.name}}</b>
        <p>{{category.description}}</p>
      </div>
    </div>
    <ion-list>
      <ion-item ng-repeat="product in products"
          href="#/app/categories/{{category.id}}/product/{{product.id}}"
          class="item item-avatar">
          <img ng-src="{{product.image}}">
          <h2>{{product.name}}</h2>
          <span class="item-note">$ {{product.price}}</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
