<ion-view view-title="Product Detail">
  <ion-content class="">
    <div class="list card">
      <div class="item item-divider">
        <h2>{{product.name}}</h2>
        <p>{{product.company}}</p>
      </div>
      <div class="item item-body">
        <img class="full-image" ng-src="{{product.image}}/{{product.id | limitTo: -1}}">
        <p>
          <a href="#" class="subdued">
            <p>{{product.description}}</p>
            $ {{product.price}}
          </a>
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
